<h1>Edit Idea:</h1>
<label for="title">Title: </label>
<input type="text" id="edit-title" value="<%= @idea.title %>"></br>
<label for="body">Body: </label>
<input type="text" id="edit-body" value="<%= @idea.body %>"></br>
<input id="edit-id" type="hidden" value="<%= @idea.id %>">
<input type="submit" value="Save" id="edit">
